body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	color: #f7fbff;
}

.wrapper {
	display: flex;
	height: 100vh;
}

.activeSymbol {
	flex: 3;
	background: #1d2026;
}

.active {
	background: #1d2026;
	border-bottom: none !important;
}

.currentPrice {
	font-size: 4.2em;
}

.symbolList {
	flex: 1;
	background: #15181d;
	overflow-y: scroll;
}

.symbolList ul {
	list-style-type: none;
	padding-left: 0px;
}

.symbolListForm {
	border-bottom: 2px solid #091017;
}

.symbolListSearch {
	width: 100%;
}

.symbolListSearch input {
	width: 100%;
	height: 100%;
	padding: 20px 10px;
	font-size: 1.2em;
	border: none;
	background: #15181d;
	outline: none;
	transition: 100ms all ease;
}

.symbolListSearch input:focus {
	background: #2a303a;
	color: #f7fbff;
	outline: none;
	box-shadow: none;
	border-color: none;
	border-bottom: 2px solid #98c2f2;
}

.symbolWrapper,
.errorWrapper {
	color: #cccdce;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-bottom: 2px solid #091017;
}

.input-group-text {
	background: none;
	border: none;
}

.price {
	font-size: 1.4em;
}

.symbol {
	font-size: 1.6em;
}

.chart {
	flex: 2;
}

.input-group-text:hover {
	cursor: pointer;
}

.fa-search {
	color: #20c291 !important;
	font-size: 1.2em;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ff0000;
}
